
/* Global */
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: rgb(37, 37, 37);
    height: 100vh;
}


/* Header */
.header {
    height: 80px;
    background-color: #CA5164;
    color: #ECD797;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sniglet', cursive;
    font-size: 3rem;
}

/* Container Welcome */

.container-welcome {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-welcome > div {
    width: 450px;
    margin: 0px 100px;
    padding: 1.5rem;
    background-color: white;
}


/* container gameboard */

.container-gameboard {
    height: 90%;
    background-color: #675C5D
}


.button {
    display: inline-block;
    background-color: plum;
    cursor: pointer;
}




/* gameboard */


.container-gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard {
    /* display: flex;
    flex-direction: column; */
    /* height: 600px;
    width: 100%; */
    justify-content: center;
    /* border: solid 3px black; */
}

.container-middle {
    display: flex;
    justify-content: center;
}

.player-name.p0 {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.player-name.p1 {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.player-name.p2 {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.player-name.p3 {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.player-name > span {
    font-family: 'Sniglet', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0.7rem;
    padding: 0.5rem 1.5rem;
}

.player-name > span > div {
    height: 32px;
    width: 72px;
}

.player-name > span.p2 {
    justify-content: flex-end;
}
.player-name > span.p3 {
    justify-content: flex-start;
}

.container-middle {
    display: flex;
    height: 462px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 752px;
    border-radius: 1000px;
    background-color: #9ACFBE;
    overflow: hidden;
}

.table > div {
    /* outline: 1px solid grey; */
    /* background-color: rosybrown; */
}

.pad-rl-25 {
    padding: 0 25%;
}



/* leaderboard */
.leaderboard {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 100px;
    /* border: black solid 1px; */
    margin-top: 3rem;
}

.leaderboard > div {
    width: 22%;
    margin: 0.5rem;
    background-color: whitesmoke;
}



/* popups */


.welcome-popups {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-info {
    width: 300px;
    /* height: 300px; */ 
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2rem;
}

.welcome-popups > button {
    cursor: pointer;
}

/* ALL PLAYER INFO */
    .player-info > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33.33%;
        /* outline: 1px solid black; */
    }

    
        .side > div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 50%;
        }

        .p2.fist-hand {
            justify-content: flex-end;
        }

        .p3.fist-hand {
            justify-content: flex-start;
        }

        /* .hand-svg {
            height: 50px;
            width: 50px;
        }

        .fist-svg {
            height: 40px;
            width: 40px;
        } */

        .p2.coins {
            justify-content: flex-start;
            margin-left: 12px;
        }
        .p3.coins {
            justify-content: flex-end;
            margin-right: 12px;
        }

        .coins > .coin-svg {
            margin: 0 3px;
        }

        .guess {
            padding: 4px 8px;
        }

        /* hand rotation helpers */

        .p0 > .hand-svg {
            transform: rotate(180deg);
        }
        .p2 > .hand-svg {
            margin-left: 25%;
            transform: rotate(90deg);
        }
        .p3 > .hand-svg {
            transform: rotate(270deg);
        }

        


    /* .player-info .side > div{
        height: 33.33%;
        outline: 1px solid black;
    } */




/* GAME INFO DISPLAY TEMPLATES */
    .game-info-display {
        padding: 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }    

    .game-info-display > div {
        background-color: #F2F7F0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 29px -1px rgba(153,153,153,0.67);
        -moz-box-shadow: 0px 0px 29px -1px rgba(153,153,153,0.67);
        box-shadow: 0px 0px 29px -1px rgba(153,153,153,0.67);
    }

    /* Ready Button Display */
        /* TODO */


    /* Coins Divs */
    .choose-coins {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
        .coins-div {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .coins-div > img {
            margin: 0 4px;
        }

        .coins-div:hover {
            background-color: rgb(241, 241, 241);
        }

        /* .coins-div > img {

        } */

        /* RESULT */

        .result {
            font-family: 'Sniglet', cursive;
            font-size: 4rem;
            font-weight: 800;
        }




.highlight-green {
    background-color: rgb(136, 245, 136) !important;
}

.highlight-red {
    background-color: rgb(255, 162, 162) !important;
}

.hide {
    display: none;
}